/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.contact {
  float: left;
}

.social {
  float: right;
}

.social a {
  margin-left: 20px;
}

@include media-query($on-laptop) {
  .contact {
    float: none;
  }
  .social {
    float: none;
    margin-top: 10px;

    a {
      margin: 0px 20px 0 0;
    }
  }
}
