/**
 * Page content
 */
.page-content {
    padding: 100px 0;
}

.page-heading {
    font-size: 20px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 40px;
    line-height: 40px;
}

.rss-subscribe {
  text-align: center;
margin-top: 30px;
}
